.sendMessage {
    position: absolute;
    display: flex;
    flex-direction: column;
    /*width: 30vw;*/
    /*min-width: 280px;*/
    color: #dddddd;
    padding: 2vmin 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
}

.sendMessage:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 18px;
    background-color: #302b36;
    opacity: 0.8;
    z-index: -1;
}

.title {
    font-size: 0.98em;
    padding: 0 1vmax;
    overflow-wrap: break-word;
}

.title span {
    color: #ffd1b0;
}

.areaWrap {
    padding: 1vmin 1vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}

.area {
    background-color: unset;
    width: 100%;
    padding: 1vmin;
    resize: none;
    color: #dedede;
    font-size: 0.88em;
    height: inherit;
    border: 2px solid transparent;
    border-radius: 10px;
    border-image: radial-gradient(#ff9e51 60%, rgba(29, 35, 42, 0) 94%) 1;
    background-origin: border-box;
    background-clip: content-box, border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*.areaWrap div:before {*/
/*    width: inherit;*/
/*    height: inherit;*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    border-radius: 18px;*/
/*    background-color: #ffffff;*/
/*    opacity: 0.8;*/
/*    z-index: -1;*/
/*}*/

.confirmation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.6vmax;
}

.confirmBtn {
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 1.1em;
    color: #d77600;
    margin: 1vmin 1.488vmin;
    border: none;
    border-radius: 10px;
    /*background-color: #282c34;*/
    cursor: pointer;
}

/*-----------------
scrollbars
------------------*/
.area::-webkit-scrollbar {
    width: 4px;
    border-radius: 18px;
}

.area::-webkit-scrollbar-track {
    background: unset;
}

.area::-webkit-scrollbar-thumb {
    background-color: #3e446a;
    border-radius: 18px;
    height: 5px;
}

@media screen and (min-width: 320px) {
    .sendMessage{
        width: calc(280px + 280 * ((100vw - 320px) / 1500));
    }
}

@media screen and (min-width: 1820px) {
    .sendMessage{
        width: 560px;
    }
}