.messagesWindow {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    background-color: #38333e;
}

.messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #38333e;
    color: #dddddd;
    height: 100%;
    width: 76vw;
    padding: 2vmin;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

.messageWrap {
    display: flex;
    margin: 12px 0;
}

.message {
    padding: 18px 20px;
    border-radius: calc(8px + 1.2vmax);
    background-color: #2b2834;
    width: fit-content;
    max-width: 50%;
}

.selectChatWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #dddddd;
    background-color: #38333e;
}

.selectChat {

    padding: 0.5vmax 1.488vmax;
}

.selectChat:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1d232a;
    border-radius: 28px;
    opacity: 0.42;
    z-index: -1;
}

.messageAreaWrap {
    /*position: absolute;*/
    bottom: 0;
    width: 76vw;
    height: fit-content;
    box-sizing: border-box;
}

.messageForm {
    position: relative;
    height: 100%;
    background-color: #2e2834;
}

.messageArea {
    color: #dddddd;
    font-size: 0.8em;
    width: 76vw;
    height: inherit;
    padding: 1em;
    border: none;
    position: relative;
    bottom: 0;
    background-color: #2e2834;
    box-sizing: border-box;
    resize: none;
}

.messageArea::placeholder {
    color: #acacac;
    font-weight: 300;
}

.sendBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 18px;
    margin: 0 1vmax;
    font-size: 0.9em;
    border-radius: 100px;
    border: none;
    color: #d0d0d0;
    background-color: #201c24;

    z-index: 5;
}

.sendBtn:hover {
    color: #e0e0e0;
    background-color: #5f466f;
}

.sendBtn:active {
    background-color: #3e2547;
}

/*-----------------
scrollbars
------------------*/
.messageArea::-webkit-scrollbar {
    display: none;
}

.messages::-webkit-scrollbar {
    width: 8px;
    /*height: 8px;*/
    border-radius: 18px;
}

.messages::-webkit-scrollbar-track {
    background: #2b2834;
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
}

.messages::-webkit-scrollbar-thumb {
    background-color: #756c8f;
    /*border: 2px solid #F47F3F;*/
    /*box-shadow: inset 0 0 4px 1px rgba(255, 155, 0, 0.69);*/
    border-radius: 18px;
    height: 5px;
}

.messages::-webkit-scrollbar-corner {
    box-shadow: inset 0 0 5px rgba(255, 155, 0, 0.69);
    background: #2b2834;
}

/*.fromMe {
    align-items: flex-end;
    justify-content: flex-end;
}*/
