.searchBarWrap{
    display: flex;
}

.searchBar{

}

.searchField{

}

.searchIcon{

}

.searchIcon:hover{

}

.searchBar:hover .searchIcon{

}

.searchField:active .searchIcon{

}

.warning{
    font-size: 0.6em;
    font-weight: 300;
}

.validationFail{
    font-size: 0.6em;
    font-weight: 300;
    color: #c10000;
}