.chats {
    background-color: #758386;
    width: 24vw;
    height: 100%;
    /*padding: 2vw;*/
    box-sizing: border-box;
    user-select: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat {
    /*width: 100%;*/
    padding: 18px 20px;
    /*border-top: 1px solid #282c34;*/
    /*border-collapse: collapse;*/
    cursor: pointer;
}

.chat:hover {
    background-color: #7e9292;
}

.active div, .active:hover div {
    background-color: #526164;
}

/*------------
media queries
------------*/

@media screen and (max-width: 800px) {
    .chats {
        width: 100%;
        /*overflow-y: scroll;*/
    }
}


/*-----------------
scrollbars
------------------*/
.chats::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    border-radius: 18px;
}

.chats::-webkit-scrollbar-track {
    background: #526164;
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
}

.chats::-webkit-scrollbar-thumb {
    background-color: #97adb1;
    /*border: 2px solid #F47F3F;*/
    /*box-shadow: inset 0 0 4px 1px rgba(255, 155, 0, 0.69);*/
    border-radius: 18px;
    height: 18px;
}

.chats::-webkit-scrollbar-corner {
    box-shadow: inset 0 0 5px rgba(255, 155, 0, 0.69);
    background: #758386;
}
