.header {
    height: 12vh;
    background-color: #282c34;
    color: #e0e0e0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*align-items: center;*/
    /*justify-content: center;*/
}

.logoWrap {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    padding: 0 0 0 2vmin;

}

.logo {
    font-family: 'bebas_neuebold', sans-serif;
    font-size: 3em;
}

.logo span {
    font-family: 'bebas_neuebook', sans-serif;
    font-size: 0.88em;
}

.navigation {
    grid-column: 2/4;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 0 auto;*/
    padding: 0;
}

.rightBar {
    grid-column: 4/5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*margin: 0 auto;*/
    padding: 0;
}

.headerLink, .headerLink:link, .headerLink:visited {
    color: darkorange;
    padding: 0 40px;
    font-size: 22px;
    font-weight: 200;
}

.headerLink:hover {
    color: #b16000;
}

.logoutLink {

}