.header {
    height: 12vh;
    /*min-height: 80px;*/
    background-color: #282c34;
    color: #e0e0e0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*font-size: calc(10px + 1.2vmin);*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.logoWrap {
    grid-column: 1/2;
    display: flex;
    align-items: center;
    padding: 0 0 0 2vmin;

}

.logo {
    font-family: 'bebas_neuebold', sans-serif;
    font-size: calc(16px + 2vmax);
    transform: rotate(356deg);
}

.huiogo {
    font-family: 'bebas_neuebook', sans-serif;
    font-size: 0.88em;
}

.navigation {
    grid-column: 2/4;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 0 auto;*/
    padding: 0;
}

.rightBar {
    grid-column: 4/5;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*margin: 0 auto;*/
    padding: 0;
}

.username {
    text-align: right;
    width: 16vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.headerLink, .headerLink:link, .headerLink:visited {
    color: darkorange;
    margin: 0 30px;
    padding: 8px;
    font-size: 1.2em;
    font-weight: 200;
}

.headerLink:hover {
    color: #b16000;
}

.logoutLink .headerLink {
    padding: 0 1vmin;
}

@media screen and (min-width: 320px) {
    .header {
        font-size: calc(12px + 8 * ((100vw - 320px) / 1000));
    }
}

@media screen and (min-width: 1320px) {
    .header {
        font-size: 20px;
    }
}