.dialog {
    /*width: 100%;*/
    padding: 18px 20px;
    /*border-top: 1px solid #282c34;*/
    /*border-collapse: collapse;*/
    cursor: pointer;
}

.dialog:hover {
    background-color: #97adb1;
}

.active div, .active:hover div {
    background-color: #526164;
}

.dialogLink, .dialogLink:link, .dialogLink:visited{
    color: #e0e0e0;

}
