.App {
    /*text-align: center;*/
}

.notify {
    position: absolute;
    bottom: 0;
    width: 20vw;
    height: fit-content;
    padding: 1em;
    margin: 2vmin;
    font-size: 0.9em;
    color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 42;
}

.notify:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 18px;
    background-color: #241d2a;
    opacity: 0.6;
    z-index: -1;
}

.closeIcon {
    position: absolute;
    right: 0;
    top: 0;
    width: 1.2em;
    opacity: 0.48;
    padding: 1vmin;
    cursor: pointer;
}

.closeIcon:hover {
    opacity: 0.8;
}

.closeIcon:active {
    opacity: 0.9;
}

.link:hover {
    color: #b16000;
}

.link, .link:link, .link:visited {
    color: darkorange;
    padding: 0 40px;
    font-size: 22px;
    font-weight: 200;
}

@media screen and (min-width: 320px) {
    .notify {
        width: calc(240px + 240 * ((100vw - 320px) / 1500));
    }
}

@media screen and (min-width: 1820px) {
    .notify {
        width: 480px;
    }
}