.messageWrap {
    display: flex;
    margin: 12px 0;
}

.fromMe {
    /*align-items: flex-end;*/
    justify-content: flex-end;
}

.fromMe .message{
    background-color: #2b2834;
    color: #dddddd;
}

.message {
    padding: 10px 20px;
    border-radius: 40px;
    background-color: #60587f;
    width: fit-content;
    max-width: 50%;
    white-space: pre-wrap;
}

/*-----------------
scrollbars
------------------*/
.messages::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 18px;
}

.messages::-webkit-scrollbar-track {
    background: #2b2834;
    /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);*/
}

.messages::-webkit-scrollbar-thumb {
    background-color: #756c8f;
    /*border: 2px solid #F47F3F;*/
    /*box-shadow: inset 0 0 4px 1px rgba(255, 155, 0, 0.69);*/
    border-radius: 18px;
    height: 18px;
}

.messages::-webkit-scrollbar-corner {
    box-shadow: inset 0 0 5px rgba(255, 155, 0, 0.69);
    background: #2b2834;
}